<article class="flex flex-col gap-1">
  <h2>
    <a href="{{ .Permalink }}">{{ .Title }}</a>
  </h2>

  <span class="date">
    <time datetime="{{ .PublishDate }}" title='{{ .PublishDate.Format "Mon, Jan 2, 2006, 3:04 PM MST" }}'>
      {{ .PublishDate.Format "02/01/2006" }} — {{ .ReadingTime }} min read
    </time>
  </span>

  {{ if and .Params.description (ne .Params.description "") }}
    <div class="description">
      {{ .Params.description }}
    </div>
  {{ end }}

  <div class="mt-2">
    <a class="read-more" href="{{ .Permalink }}">
      Read more
      <span class="w-4 h-4 stroke-2">
        {{ partial "utils/icon" "arrow-right" }}
      </span>
    </a>
  </div>
</article>
